@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  @apply tracking-[.1px]
}

p,
a,
span {
  @apply leading-normal;
  @apply font-normal;
}

.project figcaption {
  opacity: 0;
}

.project img,
.project figcaption {
  transition: opacity .4s ease;
}

@media screen and (min-width: 768px) {
  .project:hover img {
    opacity: .125;
  }

  .project:hover figcaption {
    opacity: 1;
  }
}

.contact {
  min-height: 89vh;
}
