@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.project figcaption {
  opacity: 0;
  transition: opacity .4s ease;
}

@media screen and (min-width: 768px) {
  .project img {
    transition: opacity .4s ease;
  }

  .project:hover img {
    opacity: .3;
  }

  .project:hover figcaption {
    opacity: 1;
  }
}

.contact {
  min-height: 89vh;
}

/* .content p {
  @apply mb-6;
}

.content ul {
  @apply mb-6;
} */
